.container {
    width: 30vw;
}

.container form {
    width: 100%;
}

.title-container {
    display: flex;
    color: #fff;
}

.text-container {
    text-align: center;
    margin: 5px 0;
}

.text-container h2 {
    font-size: 1.2em;
    margin-bottom: 7px;
}

.text-container p {
    font-size: 0.9em;
}
