.container {
    width: 30vw;
}

.container form {
    width: 100%;
}

.title-container {
    display: flex;
    color: #fff;
}

.text-container {
    text-align: center;
}

.text-container h2 {
    font-size: 1.1em;
}
