.container {
    width: 25vw;
}

.container form {
    width: 100%;
}

.title-container {
    display: flex;
    color: #fff;
}

.links-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.link {
    font-size: 0.7em;
    color: #000;
}

.button-container {
    margin: 10px 0;
    width: 100%;
}
