:root {
  --bg-primary-color: #b3dec4;
  --bg-secondary-color: #d5e2da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-secondary-color);
}
